# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files specific to project
annotation_info/
changes.log*
dataset_loc
scripts/networkVersion.txt

#Ipython notebook Stuff
*.ipynb
