img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1pt;
    z-index: initial;
}


#container img.point {
    position: absolute;
}

.overlay{
  position: absolute;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: yellow;
  background-color:yellow;
}

#start.overlay{
  border-color: orange;
  background-color: orange;
}

#end.overlay{
  border-color: red;
  background-color:red;
}

.seamPath{
  position: absolute;
  border-style: solid;
  border-width: 1px;
  width: 1px;
  height: 1px;
  border-color: rgba(255,0,0,0.5);
}

.manualPath{
  position: absolute;
  border-style: solid;
  border-width: 1px;
  width: 1px;
  height: 1px;
  border-color: rgba(0,255,255,0.5)
}
