{% extends 'layout.html' %}
{% block title %}Point Annotation{% endblock %}
{% block content %}

<form class="form-horizontal">
  <fieldset>
    <legend>Options</legend>
    <div class="form-group">
      <label for="neighbors" class="col-lg-2 control-label">n_neighbors</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputNeighbors" placeholder="5" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Mode</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
            Seam Carving
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
            Manual
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button  id="resetState" class="btn btn-warning">Reset</button>
        <button  id="undoPoint" class="btn btn-primary">Undo Point</button>	
        <button  id="makePath" class="btn btn-primary">Make Path</button>
	<button  id="togglePath" class="btn btn-primary">Toggle Path</button>
        <button  id="skipImg" class="btn btn-primary">Skip Image</button>
        <button  id="manualSubmit" class="btn btn-success">Submit</button>
	<button  id="checkout" class="btn btn-danger">Sign Out</button>
        <input type="checkbox"id="markDone"> Mark Done
        <input type="checkbox"id="markBad"> Mark Bad Image
      </div>
    </div>
  </fieldset>
</form>


<div id=container>
  <img id="mainImage" class ="displayed" src="" alt="" >
</div>



<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/imageClick.js"></script>
{% endblock %}
